.scoreBoardGrid {
    height: calc(88vh - 2px);
}

.scores {
    display: flex;
    height: 52.5vh;
    justify-content: space-evenly;
    align-items: center;
}

.teamDisplayStyling {
    display: flex;
    padding: 1rem;
    border: 2px solid black;
    height: 50vh;
    width: 25vw;
    justify-content: center;
}

.teamDisplayGap {
    display: flex;
    flex-direction: column;
    gap: 7vh;
    text-align: center;
}

.teamDisplayButtons {
    height: 12vh;
    width: 8vw;
}

.teamDisplayButtonsContainer {
    display: flex;
    flex-direction: row;
}

.body {
    padding :0;
    margin: 0;
    height: 100%;
}

.teamDisplayImage {
    height: 15vh;
    width: 10vw;
    position: absolute;
}

.imgStyling {
    height: 14vh;
    width: 12vw;
}

p {
    margin: 0;
    padding: 0;
}

.teamDisplayDropdown {
    display: none;
}

.teamDisplayImage:hover > .teamDisplayDropdown {
    display: block;
    position: absolute;
}

.shopDisplay {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 25vmin;
    font-size:  5vmin;

    height: calc(88vh - 4px);
}

.column {
    display: flex;
    flex-direction: column;
}

.teamname {
    font-size: 4vmin !important;
}