.documentationGrid {
    display: flex;
}

.topicsArea {
    display: flex;
    flex-direction: column;
    text-align: center;

    height: calc(88vh - 2px - 2rem);
    width: 15%;
    gap: 3vmin;
    padding: 1rem 0;
    background-color: lightblue;
}

.documentationArea {
    display: flex;
    flex-direction: column;
    text-align: center;

    height: calc(88vh - 2px);
    width: 85%;
    overflow: scroll;
}

.documentationTemplate {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    flex-direction: column;
}

.documentationTemplate h3 {
    font-size: 4vmin;
}

.documentationTemplate p {
    font-size: 2vmin;
}

.documentationTemplateMargin {
    margin-top: 3vmin;
}

.img {
    width: 45vh;
    height: 40vh;
}

.softwareImg {
    width: 80vh;
    height: 40vh;
}

.docsContainer {
    margin-bottom: 15vh;
}

h1 {
    font-size: 5vmin;
}
h2 {
    font-size: 4vmin;
}

@media only screen and (max-width: 800px) {
    .softwareImg {
        width: 40vh;
        height: 40vh;
    }
    .img {
        width: 35vh;
        height: auto;
    }
}

