.headerStyles {
    display: flex;
    background-color: lightgray;
    border: 1px solid black;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    height: 12vh;
}

.headerStylesLogo {
    display: flex;
    border: 1px solid black;
    height: 10vh;
    width: auto;
}

.headerStylesLinks {
    display: flex;
    color: blue;
    gap: 5rem;
    font-size: 1.8rem;
    align-items: center;
}

p {
    margin-top: 0;
    margin-bottom: 0;
}

.menuDropdownStyling {
    display: none;
    z-index: 1;
    position: absolute;
    font-size: 1.5rem;
    background-color: gray;
    height: 10vh;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown:hover .menuDropdownStyling {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

a, p {
    font-size: 3vmin;
    text-decoration: none;
}