.tableRowStyling {
    display: flex;
    border: 1px solid black;
    height: 8vh;
    width: 75vw;
    gap: 4rem;
}

.centerTable {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(88vh - 2px);
}