.tableRowStyling {
    display: flex;
    justify-content: space-evenly;
    border: 1px solid black;
    height: 8vh;
    width: 85vw;
    font-size: 4vmin;
    gap: 5.5vmin;
}

.centerTable {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(88vh - 2px);
}