.tableRowStyling {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    border: 1px solid black;
    height: 10vh;
    width: 85vw;
    font-size: 3vmin;
    gap: 5.5vmin;
    margin-top: 1vh;
}

.centerTable {
    display: flex;
    justify-content: center;
    align-items: center;
}