.body {
    height: 100vh;
}

.teamDisplayStylingAll {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 30vh;
    width: 14vw;
    border: 1px solid black;
    gap: 3vmin;
}

.teamDisplayStylingCurrent {
    display: flex;
    text-align: center;
    justify-content: center;
    height: 40vh;
    width: 20vw;
    border: 1px solid black;
}

.teamDisplayGrid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 2rem;
    margin: 2rem 0;
}

.teamDisplayGap {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.scores {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flexStart {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.flexStart p {
    font-size: 3vmin;
}

.timer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25vh;
    width: 90vw;
    border: 1px solid black;
    font-size: 12vmin;
}


.scoreBoardGrid {
    display: grid;
    grid-template-columns: 1fr;
    height: calc(63vh - 6px);
}

.teamImageDummyCurrent {
    display: flex;
    height: 20vh;
    width: 15vw;
    border: 1px solid blue;
}

.teamImageDummyAll {
    display: flex;
    height: 10vh;
    width: 10vw;
    border: 1px solid blue;
    margin: 0 auto;
}

.nextRound {
    height: calc(100vh - 70vh - 13vh);
    width: auto;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    text-align: center;
}

.nextRound p {
    font-size: 6vmin;
}

.nextRoundContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    margin: auto 0;
    font-size: 4vmin;
}

a:visited {
    color: inherit;
}

@media only screen and (max-width: 800px) {
    .scores {
        display: flex;
        flex-direction: column;
        margin-top: 1rem;
        gap: 1rem;
    }
    .teamDisplayStylingCurrent {
        display: flex;
        text-align: center;
        justify-content: center;
        height: 40vh;
        width: 80vw;
        border: 1px solid black;
    }
    .teamImageDummyCurrent {
        display: flex;
        height: 20vh;
        width: 60vw;
        border: 1px solid blue;
    }

    .teamDisplayStylingAll {
        display: flex;
        flex-direction: column;
        text-align: center;
        height: 30vh;
        width: 40vw;
        border: 1px solid black;
        gap: 3vmin;
    }

    .teamDisplayGrid {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 2rem;
        margin: 2rem 0;
    }
}